<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.dao.OrdersMapper">
  <resultMap id="BaseResultMap" type="com.qf.bean.Orders">
    <id column="orderId" jdbcType="VARCHAR" property="orderid" />
    <result column="openid" jdbcType="VARCHAR" property="openid" />
    <result column="buyerName" jdbcType="VARCHAR" property="buyername" />
    <result column="buyerPhone" jdbcType="VARCHAR" property="buyerphone" />
    <result column="buyerAddress" jdbcType="VARCHAR" property="buyeraddress" />
    <result column="orderAmount" jdbcType="DOUBLE" property="orderamount" />
    <result column="orderStatus" jdbcType="INTEGER" property="orderstatus" />
    <result column="payStatus" jdbcType="INTEGER" property="paystatus" />
    <result column="orderdesc" jdbcType="VARCHAR" property="orderdesc" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updatetime" />
  </resultMap>
  <sql id="Base_Column_List">
    orderId, openid, buyerName, buyerPhone, buyerAddress, orderAmount, orderStatus, payStatus, 
    orderdesc, createTime, updateTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from orders
    where orderId = #{orderid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from orders
    where orderId = #{orderid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.qf.bean.Orders">
    insert into orders (orderId, openid, buyerName, 
      buyerPhone, buyerAddress, orderAmount, 
      orderStatus, payStatus, orderdesc, 
      createTime, updateTime)
    values (#{orderid,jdbcType=VARCHAR}, #{openid,jdbcType=VARCHAR}, #{buyername,jdbcType=VARCHAR}, 
      #{buyerphone,jdbcType=VARCHAR}, #{buyeraddress,jdbcType=VARCHAR}, #{orderamount,jdbcType=DOUBLE}, 
      #{orderstatus,jdbcType=INTEGER}, #{paystatus,jdbcType=INTEGER}, #{orderdesc,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.qf.bean.Orders">
    insert into orders
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderid != null">
        orderId,
      </if>
      <if test="openid != null">
        openid,
      </if>
      <if test="buyername != null">
        buyerName,
      </if>
      <if test="buyerphone != null">
        buyerPhone,
      </if>
      <if test="buyeraddress != null">
        buyerAddress,
      </if>
      <if test="orderamount != null">
        orderAmount,
      </if>
      <if test="orderstatus != null">
        orderStatus,
      </if>
      <if test="paystatus != null">
        payStatus,
      </if>
      <if test="orderdesc != null">
        orderdesc,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="updatetime != null">
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderid != null">
        #{orderid,jdbcType=VARCHAR},
      </if>
      <if test="openid != null">
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="buyername != null">
        #{buyername,jdbcType=VARCHAR},
      </if>
      <if test="buyerphone != null">
        #{buyerphone,jdbcType=VARCHAR},
      </if>
      <if test="buyeraddress != null">
        #{buyeraddress,jdbcType=VARCHAR},
      </if>
      <if test="orderamount != null">
        #{orderamount,jdbcType=DOUBLE},
      </if>
      <if test="orderstatus != null">
        #{orderstatus,jdbcType=INTEGER},
      </if>
      <if test="paystatus != null">
        #{paystatus,jdbcType=INTEGER},
      </if>
      <if test="orderdesc != null">
        #{orderdesc,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qf.bean.Orders">
    update orders
    <set>
      <if test="openid != null">
        openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="buyername != null">
        buyerName = #{buyername,jdbcType=VARCHAR},
      </if>
      <if test="buyerphone != null">
        buyerPhone = #{buyerphone,jdbcType=VARCHAR},
      </if>
      <if test="buyeraddress != null">
        buyerAddress = #{buyeraddress,jdbcType=VARCHAR},
      </if>
      <if test="orderamount != null">
        orderAmount = #{orderamount,jdbcType=DOUBLE},
      </if>
      <if test="orderstatus != null">
        orderStatus = #{orderstatus,jdbcType=INTEGER},
      </if>
      <if test="paystatus != null">
        payStatus = #{paystatus,jdbcType=INTEGER},
      </if>
      <if test="orderdesc != null">
        orderdesc = #{orderdesc,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where orderId = #{orderid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qf.bean.Orders">
    update orders
    set openid = #{openid,jdbcType=VARCHAR},
      buyerName = #{buyername,jdbcType=VARCHAR},
      buyerPhone = #{buyerphone,jdbcType=VARCHAR},
      buyerAddress = #{buyeraddress,jdbcType=VARCHAR},
      orderAmount = #{orderamount,jdbcType=DOUBLE},
      orderStatus = #{orderstatus,jdbcType=INTEGER},
      payStatus = #{paystatus,jdbcType=INTEGER},
      orderdesc = #{orderdesc,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      updateTime = #{updatetime,jdbcType=TIMESTAMP}
    where orderId = #{orderid,jdbcType=VARCHAR}
  </update>
</mapper>